<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <appender name="tryLogAppender" type="log4net.Appender.RollingFileAppender">
      <File value=".\log\" />
      <DatePattern value="yyyyMMdd&quot;.log&quot;" />
      <StaticLogFileName value="false" />
      <RollingStyle value="date" />
      <AppendToFile value="true" />
      <MaximumFileSize value="100MB" />
      <MaxSizeRollBackups value="30" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date [%thread] [%-5level] (%method) - %message%n" />
      </layout>
    </appender>


		　　　　　　　　　　　　　　　　　　　　　　　　<!--Developerツールのコマンドプロンプトのこと。--><appender name="Console" type="log4net.Appender.ConsoleAppender"><layout type="log4net.Layout.PatternLayout"><conversionPattern value="%d[%t] %p - %m%n" /></layout></appender>


　　　　　　　　　　　　　　　　　　　　　　　　　　　<!--VisualStudioの出力のこと。-->　
		<appender name="Trace" type="log4net.Appender.TraceAppender"><layout type="log4net.Layout.PatternLayout"><conversionPattern value="%d[%t] %p - %m%n" /></layout></appender><root><!--ここにConsoleとTraceを記載--><level value="Debug" /><appender-ref ref="Console" /><appender-ref ref="Trace" /><appender-ref ref="tryLogAppender" /></root></log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

	<appSettings>
		<add key="DataSource" value="DESKTOP-E5AQK36\SQLEXPRESS" />
		<add key="InitialCatalog" value="Mono" />
		<add key="IntegratedSecurity" value="0" />
		<add key="UserID" value="Anderson" />
		<add key="Password" value="cima" />
	</appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>